body {
    background-color: #2f3349;
}

.signUp:hover{
    background-color: #7367f0 !important;
}

.signUp{
    background-color: #7367f0 !important;
    text-transform: none !important;
}

.rememberMeCheckBox{
    color: #acb0c8;
}

.rememberMeCheckBox:checked{
    color: #7367f0 !important;
}